.home-list-title {
  font-size: 16px;
  color: #666;
  margin: 10px 15px;
}
.info{
  height: 100%;
  .author{
    text-align: center;
  }
  .face{
    width: 200px;
    height: 200px;
    background: url(../../../static/img/header.jpg) no-repeat;
    margin: 20px auto 0;
  }
  .info-item{
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }
  .pic{
    width: 200px;
    min-height:200px;
    background-color: yellow;
    margin: 30px auto;
  }
}