body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
input,
p,
blockquote,
th,
td,
section,
canvas {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
img {
  display: block;
  width: 100%;
  border: none;
  pointer-events: none;
}
textarea {
  border: none;
  background: none;
  resize: none;
}
input {
  display: block;
  float: left;
  border: none;
  background: none;
  outline: none;
  height: 0.24rem;
  line-height: 0.24rem;
  font-size: 0.2rem;
  color: #222222;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #9b9b9b;
}
html,
body {
  font-size: 22px;
  color: #000;
  font-family: "Microsoft YaHei", Arial;
  overflow: hidden;
  /* width: 6.4rem; */
  height: 100%;
  background-color: #fff;
  -webkit-touch-callout: none; /* 禁用长触弹出的下载图片菜单 */
  -webkit-user-select: none; /* 禁用长触选择文字等功能 */
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}



.h5-turntable{
  width:100%;
  max-width: 6.4rem;
  height: 100%;
  background: url(../images/bg.png) no-repeat;
  background-size: cover;
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.h5-turntable-container{
  width: 100%;
  height: 100%;
  max-height: 12.34rem;
  display: flex;
  flex-direction: column;
  background: url(../images/gy1.png) no-repeat;
  background-size: 100% 12.34rem;
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

}
.h5-turntable-container-animation{
  animation: gybg 0.3s ease-in-out infinite;
  -webkit-animation: gybg 0.3s ease-in-out infinite;
}
@keyframes gybg {
  0% ,100%{
    background: url(../images/gy2.png) no-repeat;
   background-size: 100% 12.34rem;
  }50%{
      background: url(../images/gy1.png) no-repeat;
   background-size: 100% 12.34rem;
  }
}





.h5-turntable-title-new {
  font-size: 0.5rem;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.2rem;
  color: #fdf56d;
  font-weight: bold;
  font-family: "微软雅黑";
}

.h5-turntable-title-bottom {
  font-size: 0.2rem;
  text-align: center;
  color: #fdf56d;
  font-family: "微软雅黑";
  display: flex;
  align-items: center;
  justify-content: center;
}
.h5-turntable-title-bottom .num {
  width: 0.34rem;
  height: 0.34rem;
  border: 0.02rem solid #fdf56d;
  color: #fdf56d;
  font-size: 0.15rem;
  text-align: center;
  line-height: 0.34rem;
  border-radius: 50%;
  margin: 0 0.18rem;
}
.h5-turntable-more {
  /* position: fixed;
  bottom: 0.8rem;
  left: 0;
  right: 0; */
  margin: 0 auto;
  font-size: 0.2rem;
  text-align: center;
  width: 2.4rem;
  height: 0.52rem;
  line-height: 0.52rem;
  background: #fff;
  color: #fa2864;
  font-weight: 400;
  border-radius: 0.5rem;
}
.h5-turntable-main{
    width: 100%;
    height: 100%;
    /* max-height: 7.28rem; */
     max-height:7.9rem;
     display: flex;
     justify-content: center;
     align-content: center;
}
.h5-turntable-main-content{
    width: 6.4rem;
    height: 6.4rem;
    padding-top: 0.38rem;

}

.h5-turntable-main {
  height: 7.3rem;
  position: relative;
  z-index: 1;
}




.h5-turntable-main-g1 {
  width: 5.6rem;
  height: 5.6rem;
  position: absolute;
  /* top: 0.38rem; */
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  /* background: url(../images/g1.png) no-repeat;
  background-position: center;
  background-size: 5.6rem 5.6rem; */
   /* opacity: 1; */
}
.h5-turntable-main-g1-animation {
  animation: g1 2.4s linear infinite;
  -webkit-animation: g1 2.4s linear infinite;
}
@keyframes g1 {
  0%,100%{
  width: 5.2rem;
  height: 5.2rem;
  }
  25%,80% {
  width: 5.6rem;
  height: 5.6rem;
  }
  
}
.h5-turntable-main-g2 {
  width: 6rem;
  height: 6rem;
  position: absolute;
  /* top: 0.38rem; */
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  /* width: 6.4rem;
  height: 6.4rem;
  position: absolute;
  top: 0.38rem;
  z-index: 11;
  background: url(../images/g1.png) no-repeat;
  background-size: 6rem 6rem;

  background-position: center; */
} 
.h5-turntable-main-g2-animation {
  animation: g2 2.4s linear infinite;
    -webkit-animation: g2 2.4s linear infinite;
}
@keyframes g2 {
  0% ,25%,100% {
  width: 5.6rem;
  height: 5.6rem;
  }
  40% ,80%{
  width: 6rem;
  height: 6rem;
  }
}

.h5-turntable-main-g3 {
  width: 6.4rem;
  height: 6.4rem;
  position: absolute;
  /* top: 0.38rem; */
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  /* width: 6.4rem;
  height: 6.4rem;
  position: absolute;
  top: 0.38rem;
  z-index: 12;
  background: url(../images/g1.png) no-repeat;
  background-size: 6.4rem 6.4rem;
  background-position: center; */
}


.h5-turntable-main-g3-animation {
  animation: g2 2.4s linear infinite;
  -webkit-animation: g3 2.4s linear infinite;
}

@keyframes g3 {
  0% ,40% ,100%{
  width: 6rem;
  height: 6rem;
  }
  65%,80% {
  width: 6.4rem;
  height: 6.4rem;
  }
} 





.h5-turntable-main-gd{
  width: 6.4rem;
  height: 6.4rem;
  background: url(../images/gd1.png) no-repeat;
  background-size: 4.9rem 4.9rem;
  background-position: center;
  position: absolute;
  top: 0.38rem;
  z-index: 25;
}

.h5-turntable-main-gd-animation{
  animation: gdam 8s ease-in-out infinite;
  -webkit-animation: gdam 8s ease-in-out infinite;
}
@keyframes gdam {
  0%,25%,50%,75%     {
  background: url(../images/gd2.png) no-repeat;
    background-position: center;
    background-size: 4.9rem 4.9rem;
  }
  12.5%,37.5%,100% {
  background: url(../images/gd1.png) no-repeat;
    background-position: center;
    background-size: 4.9rem 4.9rem;
  }
}












.h5-turntable-main-box {
  width: 6.4rem;
  height: 6.4rem;
  background: url(../images/zp.png) no-repeat;
  background-size: 5.3rem 5.3rem;
  background-position: center;
  position: absolute;
  transform: rotate(22.5deg);
  top: 0.38rem;
  z-index: 15;
}
.h5-turntable-main-box-content {
  width: 6.4rem;
  height: 6.4rem;
  position: absolute;
  top: 0.38rem;
  z-index: 20;
  background: url(../images/zp.png) no-repeat;
  background-size: 5.3rem 5.3rem;
  background-position: center;
}

.h5-turntable-main-zz {
  position: absolute;
  width: 1.04rem;
  height: 1.48rem;
  z-index: 50;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 2.64rem;
  background: url(../images/zzz.png) no-repeat;
  background-size: 1.04rem;
}
.h5-turntable-main-box-content .item {
  width: 0.9rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 1.25rem;
  left: 2.75rem;
  transform-origin: 50% 100%;
  z-index: 51;
}
.h5-turntable-main-box-content .item div:nth-child(1) {
  font-size: 0.4rem;
  font-weight: 600;
  width: 0.9rem;
  text-align: center;
}
.h5-turntable-main-box-content .item:nth-child(even)>div {
 color:#ff3535;
}
.h5-turntable-main-box-content .item div:nth-child(2) {
  width: 0.9rem;
  text-align: center;
  font-size: 0.16rem;
  transform: scale(0.8);
}
.h5-turntable-main-box-content .item:nth-child(odd)>div {
 color:#fa2864;
}
